.winner-div {
  height: 100%;
}
.millionare-div {
  width: 300px;
  height: 300px;

  color: whitesmoke;
}
.my-winner {
  border: 5px solid whitesmoke;
  background-color: black;
  margin-left: 150%;
  margin-top: 100%;
  width: 350px;
}
.game-over {
  background-color: black;
  text-align: center;
  color: white;
  border: 5px solid red;
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  margin-top: 250px;
}

.gameOver,
.winner-div {
  background-image: url("https://w0.peakpx.com/wallpaper/315/288/HD-wallpaper-millionaire01-wants-to-be-a-millionaire-background-who-wants-to-be-a-millionaire.jpg");
  background-repeat: no-repeat;
  background-size: 100% 120%;
  height: 600px;
  display: flex;
  justify-content: center;
}
body {
  background-image: url("https://w0.peakpx.com/wallpaper/315/288/HD-wallpaper-millionaire01-wants-to-be-a-millionaire-background-who-wants-to-be-a-millionaire.jpg");
  background-repeat: no-repeat;
  background-size: 100% 150%;
}
.main-container {
}
.score-container {
  display: inline-block;
}
.amount {
  border: 1px solid red;
  width: 299px;
  border-radius: 150px;
  padding-left: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}
.text,
.btn,
.amount {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.text {
  color: whitesmoke;
  font-size: 25px;
}
.add-color {
  background-color: orange;
}

.container {
  padding-top: 25px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.container-1,
.container-2,
.container-3 {
  align-items: center;
}

.container-1 {
  height: 590px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 300px;
}
.container-3 {
  padding-top: 50px;
  width: 300px;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 75px;
}
.question {
  height: 70px;
  width: 600px;
  border-radius: 300px;
  align-items: center;
  text-align: center;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  color: white !important;
  background-color: black;
}

.options-div {
  display: flex;
  width: 750px;
  margin-bottom: 15px;
}
.options-div-2 {
  display: flex;
  justify-content: flex-start;
}
.options {
  display: flex;
  text-overflow: clip;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  border: 5px solid white;
  height: 50px;
  width: 350px;
  border-radius: 100px;
}
.list {
  list-style-type: none;
}
